.dropdown {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 20px;
  line-height: 20px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown__arrow {
  color: blue;
  text-align: center;
}

.dropdown__arrow::before {
  content: '▲';
}

.dropdown__header-arrow {
  transform: rotate(180deg);
}

.dropdown__header-arrow--expanded {
  transform: rotate(0deg);
}

.dropdown__list-item-arrow {
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  transform: rotate(90deg);
  padding: 5px;
}

.dropdown__list-item-arrow:hover {
  filter: brightness(150%);
}

.dropdown__options-list {
  border: 1px solid black;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  position: absolute;
  list-style-type: none;
  overflow: hidden;
  overflow-y: auto;
  font-size: 14px;
}

.dropdown__item-label-container {
  background-color: #ffffff;
  cursor: default;
  display: flex;
  align-items: center;
  height: 30px;
}

.dropdown__list-item--active > .dropdown__item-label-container {
  filter: brightness(85%);
}

.dropdown__options-sublist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

.dropdown__list-item--expanded > .dropdown__options-sublist {
  display: block;
}

.dropdown__list-item--expanded > .dropdown__item-label-container > .dropdown__list-item-arrow {
  transform: rotate(180deg);
}

.dropdown__checkbox {
  color: #00ae42;
  width: 15px;
  height: 15px;
  text-align: center;
  padding: 4px;
  margin: 2px 5px;
  border-radius: 4px;
  border: 1px solid black;
  display: inline-block;
}

.dropdown__checkbox--partially-checked::before {
  content: '•'
}

.dropdown__checkbox--checked::before {
  content: '✓'
}
